In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
df = pd.read_csv('wages.csv')

In [7]:
df.head()

           earn  height     sex   race  ed  age
0  79571.299011   73.89    male  white  16   49
1  96396.988643   66.23  female  white  16   62
2  48710.666947   63.77  female  white  16   33
3  80478.096153   63.22  female  other  16   95
4  82089.345498   63.08  female  white  17   43

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1379 entries, 0 to 1378
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   earn    1379 non-null   float64
 1   height  1379 non-null   float64
 2   sex     1379 non-null   object
 3   race    1379 non-null   object
 4   ed      1379 non-null   int64
 5   age     1379 non-null   int64
dtypes: float64(2), int64(2), object(2)
memory usage: 64.8+ KB

In [10]:
df['race'] = df['race'].map({'white': 3, 'other': 2, 'black': 1, 'hispanic': 0})

In [11]:
df['sex'] = df['sex'].map({'male':1, 'female':2})

In [13]:
X = df.drop('earn', axis=1)

In [14]:
y = df['earn']

In [17]:
from sklearn.model_selection import train_test_split

In [36]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30, random_state =888)

In [37]:
from sklearn.linear_model import LinearRegression

In [38]:
lm = LinearRegression()

In [39]:
lm.fit(X_train,y_train)

LinearRegression()

In [40]:
pred = lm.predict(X_test)

In [41]:
from sklearn.metrics import mean_squared_error as mse

In [42]:
mse(y_test,pred)

669239385.4275128

In [43]:
np.sqrt(mse(y_test,pred))

25869.66148652728

In [44]:
from sklearn.metrics import mean_absolute_error as mae

In [45]:
mae(y_test,pred)

18451.413341071424